[submodule "backend"]
	path = backend
	url = https://github.com/kaptnn/kaptnn-financial-calculator-api.git
	branch = development
[submodule "frontend"]
	path = frontend
	url = https://github.com/kaptnn/kaptnn-web-apps.git
	branch = staging
